streamlit
numpy
pandas
matplotlib
pygame
Pillow
textblob
scipy
altair
plotly
langchain_community
langchain_openai
langchain_huggingface
huggingface-hub
openai
python-dotenv
pypdf
sentence-transformers
faiss-cpu
langchain
streamlit